@model List<Dot.Services.Models.FollowerVm>

@{
    var gitUserUrlBase = "https://github.com";

    var toolTipContent = $"{Model.Count} Followers <hr/>";
    toolTipContent += $"<ul class='list-unstyled'>";
    foreach (var follower in Model.Select(f => f.Login).ToList())
    {
        toolTipContent += $"<li><a class='readableLinks' href='{gitUserUrlBase}/{follower}'>{follower}</a></li>";
    }
    toolTipContent += "</ul>";
}

<li class="followersLi" title="@toolTipContent" data-toggle="tooltip" data-html="true" >
    <i class="fa fa-users"></i> <span>@Model.Count</span>
</li>
