@{
    ViewData["Title"] = "Home";
    List<Dot.Services.Models.UserVm> users = Model;
}

<div class="col-lg-12 col-md-12 col-sm-6">
    @if (users != null)
    {
        foreach (var user in users)
        {
            <div class="">
                <div class="card m-2 p-2 float-left">
                    <dl>
                        <dd><img src="@user.AvatarUrl" alt="User image" height="200" width="185" /></dd>
                        <dd><a href="@user.Url">@user.Login</a></dd>
                        <dd>@user.Type</dd>
                    </dl>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-dark">No users loaded, please try again later.</div>
    }

</div>