name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
   
    - uses: actions/checkout@v2
    
    - name: Setup .NET 3.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
        
    - name: Restore dependencies
      run: dotnet restore Dot/Dot.sln
      
    - name: Build Solution
      run: dotnet build Dot/Dot.sln -c Release --no-restore
      
    - name: Run Automated Tests
      run: dotnet test Dot.Tests/Dot.Tests.csproj -c Release --no-build --verbosity normal
      
    - name: Publish App
      run : dotnet publish Dot/Dot.sln -c Release -o ./out
        
      
    - name : Deploy to Azure
      uses: azure/webapps-deploy@v2
      with:
        app-name:pgdotapp
        publish-profile:${{secrets.AZURE_WEB_APP_PUBLISH_SEC}}
        package:./out
